{% extends "base.html" %}

{% block content %}
<section>
    <br>
    <h3 class="text-center my-3">User Logs</h3>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col" class="log-header text-center text-white h5">Datetime</th>
                <th scope="col" class="log-header text-center text-white h5">Username</th>
                <th scope="col" class="log-header text-center text-white h5">Action</th>
            </tr>
        </thead>

        {% for log in logs %}
        <tbody>
            <tr>
                <td class="text-center">{{ log.date_time }}</td>
                <td class="text-center">{{ log.username }}</td>
                {% if log.action in ('Register.','Login.','Logout.') %}
                <td class="text-center">{{ log.action }}</td>
                {% else %}
                <td class="text-center text-danger">{{ log.action }}</td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <br>
</section>
{% endblock %}
